@charset "UTF-8";
@import "sass.scss";

// ZERO POINTS
// WATCHER TURN ON !!! (Tools -> File Watchers -> SCSS)

@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('fonts/TeX Gyre Heros'), local('fonts/TeXGyreHeros-Regular'), url('fonts/texgyreheros.woff2') format('woff2'), url('fonts/texgyreheros.woff') format('woff'), url('fonts/texgyreheros.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('TeX Gyre Heros Italic'), local('fonts/TeXGyreHeros-Italic'), url('fonts/texgyreherositalic.woff2') format('woff2'), url('fonts/texgyreherositalic.woff') format('woff'), url('fonts/texgyreherositalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('TeX Gyre Heros Bold'), local('fonts/TeXGyreHeros-Bold'), url('fonts/texgyreherosbold.woff2') format('woff2'), url('fonts/texgyreherosbold.woff') format('woff'), url('fonts/texgyreherosbold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'TeX Gyre Heros';
  src: local('TeX Gyre Heros Bold Italic'), local('fonts/TeXGyreHeros-BoldItalic'), url('fonts/texgyreherosbolditalic.woff2') format('woff2'), url('fonts/texgyreherosbolditalic.woff') format('woff'), url('fonts/texgyreherosbolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.6.2');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.6.2') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.6.2') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.6.2') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.6.2') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.6.2#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block; font-family: FontAwesome; font-size: inherit; text-rendering: auto;
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* COMMON_STYLES */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
  text-decoration: none;
}

a {
  color: $black;
  @include animation_0_25;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  outline: none;
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

header, nav, section, article, aside, footer, video, figure {
  display: block;
  width: 100%;
}

section, article {
  margin-bottom: 55px;
}

html, body {
  width: 100%;
  line-height: 1.5;
  font-size: 18px;
  color: $black;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'TeX Gyre Heros', sans-serif;
}

input, button, textarea {
  font-family: inherit;
  //-webkit-appearance: none;
  outline: 0;
}

input::-ms-clear {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

p {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: 'Merriweather', serif;
}

.clb {
  clear: both;
  height: 0;
  width: 100%;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  max-width: 1230px;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn {
  display: inline-flex;
  padding: 12px 24px;
  border-radius: 4px;
  background: transparent;
  color: #EBEBEB;
  font-size: 18px;
  border: 1px solid transparent;
  cursor: pointer;
  @include animation_0_25;
}

.btn1 {
  color: #E91E63;
  border: 1px solid #E91E63;

  &:hover {
    background: #E91E63;
    color: #EBEBEB;
  }

  &:active {
    color: #E91E63;
    background: transparent;
  }
}

.btn2 {
  color: #0288D1;
  border: 1px solid #0288D1;

  &:hover {
    background: #0288D1;
    color: #EBEBEB;
  }

  &:active {
    color: #0288D1;
    background: transparent;
  }
}

body.lock {
  overflow: hidden;
}

header.header {

}

main.main {
}

footer.footer {

}

